<%= form_for(@task) do |f| %>
<div><%= f.label :title %></div>
<div><%= f.text_field :title %></div>
<div><%= f.label :content %></div>
<div><%= f.text_field :content %></div>
<%= f.hidden_field :user_id, value: current_user.id %>
<div><%= f.submit %></div>
<% end %>
